/* GENERAL LAYOUT */
body
{
    margin: 15px 10%;
    background-color: rgba(47, 79, 79, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1
{
    margin-top: 5px;
}

h2
{
    font-size: 1em;
}

.middle_body
{
    background-color: rgb(220, 220, 220);
    padding: 8px;
}
.bubble
{
    background-color: rgb(240, 255, 255);
}

.flex-container
{
    display:flex;
}

.confirmed-list
{
    margin-left: 50px;
    background-color: rgba(47, 79, 79, 0.4);
    line-height: 1.5em;

}

@media screen and (max-width: 600px)
{
    .flex-container
    {
        flex-direction: column;
    }

    .confirmed-list
    {
        margin-left: 0px;
    }
}

.teams
{
    display: flex;
    flex-wrap: wrap;
}

.flex-container-team-output
{
    display: flex;
}

.AB
{
    margin-right: 25px;
}

.AB > p, .AB > div
{
    width: fit-content;
}

.AB > p, .AB > div, .flex-container-team-output, .confirmed-list
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
}

.AB > p
{
    margin-bottom: 15px;
}

.C > p
{
    margin: 0;
    margin-bottom: 10px;
}

.flex-container-team-output
{
    margin: 15px;
    background-color: rgba(47, 79, 79, 0.4);
}


/* FORM STYLING */
input.poke-form
{
    padding-left: 20px;
}

/*SEPERATE ELEMENT NEEDED TO OVERWRITE BROWSER AUTOFILL STYLING*/
label>span
{
    /*NEEDED TO CORRECTLY POSITION THE ICON (PREVENTS POSITIONING INTO THE MAIN BODY)*/
    position: relative;
}

label>span>img
{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 15px;
}
