body
{
    margin: 15px 10%;
}

#form_input
{
    float: left;
    width: 60%;
}

#form_input.full_width
{
    width: 100%;
}

#confirm_input
{
    float: right;
    width: 40%;
}

.clear_fix
{
    clear: both;
    float: none;
    width: 100%;
}

#team_score
{
    margin-top: 0;
    float: left;
    width: 100%;
}

#team_pokemon
{
    clear: both;
    float: left;
    margin: 1px;
    width: fit-content;
}

#team_score p, #team_pokemon, #team_output
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
}

#team_vs_effectiveness
{
    overflow: auto;
    width: 50%;
    padding: 8px;
    padding-top: 1px;
}

#team_vs_effectiveness p
{
    margin: 0;
    margin-bottom: 20px;
}

#team_output
{
    max-width: 500px;
}

